HassioNodeRed
[{"id":"fd7ea2607248327a","type":"tab","label":"BatteryMonitor","disabled":false,"info":"","env":[]},{"id":"08fc6a85fcfbd5af","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aqaramultisensor_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":160,"wires":[["77e1748f07969a03"]]},{"id":"c1cda68946c3a969","type":"inject","z":"fd7ea2607248327a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["08fc6a85fcfbd5af","5f18a60e0f70f8e1","27c18333624953c2","77666975bb5b8c85","4a8534fee0629671","60a9d10df116d2e6","08ec4b32a99d0846","d55dd172221c7032","b253f84f8494a90f","8add6b1dd7ca44d7"]]},{"id":"5f18a60e0f70f8e1","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.aqaratvocsensor_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":220,"wires":[["77e1748f07969a03"]]},{"id":"27c18333624953c2","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.office_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":420,"y":280,"wires":[["77e1748f07969a03"]]},{"id":"77666975bb5b8c85","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bedroomlightswitch_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":320,"wires":[["77e1748f07969a03"]]},{"id":"60a9d10df116d2e6","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.entrancedoor_keypad_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":400,"wires":[["77e1748f07969a03"]]},{"id":"4a8534fee0629671","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.entrancedoor_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":360,"wires":[["77e1748f07969a03"]]},{"id":"08ec4b32a99d0846","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.hue_dimmer_switch_1_battery_level","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":440,"wires":[["77e1748f07969a03"]]},{"id":"d55dd172221c7032","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.livingroomsceneswitch_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":480,"wires":[["77e1748f07969a03"]]},{"id":"b253f84f8494a90f","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.masterlightswitch_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":520,"wires":[["77e1748f07969a03"]]},{"id":"8add6b1dd7ca44d7","type":"api-current-state","z":"fd7ea2607248327a","name":"","server":"3e010e52.f0c572","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bedroom_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":560,"wires":[["77e1748f07969a03"]]},{"id":"77e1748f07969a03","type":"function","z":"fd7ea2607248327a","name":"Get battery level","func":"var battery = msg.data.attributes.battery\nvar entity_id = msg.data.entity_id\nmsg = {payload: battery, topic: entity_id};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":300,"wires":[["b2950192b5a4c1ca"]]},{"id":"241eb9c2db9a237d","type":"e-mail","z":"fd7ea2607248327a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"dan.helgeland@gmail.com","dname":"Hassio","x":1210,"y":300,"wires":[]},{"id":"b2950192b5a4c1ca","type":"switch","z":"fd7ea2607248327a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":300,"wires":[["241eb9c2db9a237d"]]},{"id":"c5d9f62e8212887f","type":"comment","z":"fd7ea2607248327a","name":"Send entity with battery below 30% to email once a week","info":"Send entity with battery below 30% to email once a week","x":510,"y":100,"wires":[]},{"id":"3e010e52.f0c572","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"}]
